html {
  background-color: #ededed;
}

body {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 600px;
  padding: 20px 40px 40px;
  margin: 0 auto;
  margin-top: 15px;
  border: 1px solid #ccc;
  background-color: #fff;
}

h1 {
  color: #000;
}

h2 {
  color: #333;
}

.section, .item {
  padding: 0px 15px;
}

.item {
  background-color: #dcf0f7;
  border: 1px solid #ddd;
  margin-bottom: 4px;
  padding: 5px 15px;
}

.helptext {
  color: #999;
  padding-left: 10px;
}

a.delete:hover {
  color: red;
}

.hidden {
  display: none;
}


.btn {
    color: #944359;
}