<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<h1>Answers</h1>
<ul>
{% for answer in object_list %}
    <li><b>{{ answer.answer }}</b> for question <i>{{ answer.question }}</i> </li>
{% empty %}
    <li>No answer yet</li>
{% endfor %}
</ul>

</body>
</html>