<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        ul li {
            list-style: none;
        }
    </style>
</head>
<body>

<h1>QuestionSets</h1>
<ul>
{% for questionset in object_list %}
    <li>{{ questionset.id }}  :  <b>{{ questionset.description }}</b></li>
{% empty %}
    <li>No questionset yet </li>
{% endfor %}
</ul>


</body>
</html>
