<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        ul li {
            list-style: none;
        }
    </style>
</head>
<body>
    <h1>Questions</h1>
    <ul>
    {% for question in object_list %}
        <li>
            {{ question.id }} : <b>{{ question.ques }}</b>
            in set of <i>{{ question.questionset }}</i>
         </li>
    {% empty %}
        <li>No question yet</li>
    {% endfor %}
    </ul>
</body>
</html>
