{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>QuestionSet</title>
    <script type="text/javascript" src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
</head>
<body>

<h1>New Question</h1>

<form action='{{request.path}}' method="POST" id="question_form">
    {% csrf_token %}

    <h3>QuestionSet & Question</h3>
    {{ form.as_p }}


<!--{#
    {{ AnswerInline.management_form }}
    {% for fo in AnswerInline %}
        {{ fo.as_p }}
    {% endfor %}
#}-->



    <div id="answer-formset">
    <h3>Answer</h3>
    <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
        {% for form in AnswerInline %}
        <tr>
            <td>
            {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                <label>answer&nbsp</label>{{ form.answer }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
   {{ AnswerInline.management_form }}
   </div>



    <input type="submit" value="Save" />

</form>


<!--

<script type="text/javascript">
    $(function() {
        $('#answer-formset tbody tr').formset({
            prefix: '{{ AnswerInline.prefix }}'
        });
    })
</script>
-->



</body>
</html>
