<h1>New QuestionSet</h1>

<!--<form action="{% url 'questions-new' %}" method="POST">-->
<form action='{{request.path}}' method="POST" id="questionset_form">
{% csrf_token %}

{{ form.as_p }}

{{ QuestionInline.management_form }}
{% for fo in QuestionInline %}
    {{ fo.as_p }}
{% endfor %}


<input type="submit" value="Save" />

</form>
