{% extends "base.html" %}
{% load static %}


{% block content %}
<h1>Edit Questions</h1>

    <div id="question-div">

    <form action="{{ request.path }}" method="POST">
    {% csrf_token %}
    {{ form.management_form }}
    <div id="question-items" class="">
    {% for question in form %}
      <div class="ques-area item">
        <div id="ques-item">
          <h3>Question</h3>
          {{ question.id }}
          {{ question.ques }}
        </div>

        <div id="answer-item">
          <h3>Answers</h3>
          {{ question.nested.management_form }}
          {% for answer in question.nested %}
              {{ answer.id }}
              {{ answer.answer }}
          {% endfor %}
        </div>
        <div id="add-answer">
            <p><a class="addAnswer" href="#">Add another answer</a></p>
        </div>
        <div id="delete-question">
            <p><a class="deleteQuestion" href="#">Delete Question</a></p>
        </div>

      </div>
    {% endfor %}
    </div>

    </div>

    <div id="form-controls">
        <input type="submit" value="Save" />
        <p><a id="addQuestion" href="#">Add another Question</a></p>
    </div>
    </form>


    <div class="hidden ques-area item">
        <div id="ques-item">
            <h3>Question</h3>
            {{ form.empty_form.id }}
            {{ form.empty_form.ques }}
        </div>
        <div id="answer-item">
            <h3>Answers</h3>
            {{ form.empty_form.nested.management_form }}
            {% for answer in form.empty_form.nested %}
                {{ answer.id }}
                {{ answer.answer }}
            {% endfor %}
        </div>

        <div id="add-answer">
            <p><a class="addAnswer" href="#">Add another answer</a></p>
        </div>

        <div id="delete-question">
            <p><a class="deleteQuestion" href="#">Delete Question</a></p>
        </div>

    </div>
{% endblock %}

{% block footer_script %}
    <script type="text/javascript" src="{% static 'js/test_question_form.js' %}"></script>
{% endblock %}

