{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Todo</title>
    <link rel="stylesheet" href="{% static 'css/test_question_form.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-1.10.2.js' %}"></script>
</head>
<body>
{% block content %}
{% endblock %}
{% block footer_script %}
{% endblock %}
</body>
</html>