<h1>Questionss</h1>

<ul>
{% for questionset in questionset_list %}
  <li><a href="{% url 'questions-edit' pk=questionset.id %}">
      {{ questionset.description }}</a></li>
{% endfor %}
</ul>

<a href="{% url 'questionsets-new' %}">new question</a>