<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Todo List</h1>
    <ul>
    {% for todo_list in object_list %}
        <li>{{ todo_list.id }} : {{ todo_list.list_name }}</li>
        {% empty %}
        <p>No list yet</p>
    {% endfor %}
    </ul>

</body>
</html>